*{
   margin: 0px;
   top: 0px; 
   box-sizing: border-box;
   background-color: #0B1215;
   color: white;
   font-family: "Inter", sans-serif;
}
#container{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.form-group{
   /* border: 2px solid red; */
   width: 24vw;
   margin-top: 10px;
   margin-bottom: 10px;
}
h3{
   text-align: center;
   margin-bottom: 40px;
}
.btn{
   margin-top:4px;
}