*{
    margin: 0px;
    top: 0px; 
    box-sizing: border-box;
    background-color: #0B1215;
    color: white;
    font-family: "Inter", sans-serif;
    overflow: hidden;
 }
nav{
    display: flex;
    justify-content: space-between;
    margin: 14px 100px;
}
nav > div > button{
    padding: 0;
    border: none;
    cursor: pointer;
}
nav > div{
    display: flex;
    align-items: center;
    gap: 10px;
} 
#logo{
    width: 60px;
}
#nav-choices{
    width: 15vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    right: 0;
    transition: transform 0.3s ease;
    transform: translateX(33ch);
    
}
#nav-choices > button{
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;

}
#nav-choices > button > svg{
    background-color: white;
    width: 30px;
    height: 30px;
    border: white;
    position: absolute;
    margin: 30px 34px;
    right: 0;
}
